{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--end font  -->
  <title>Index</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-[url('{% static 'images/bg1.jpg' %}')] bg-cover bg-left-bottom bg-fixed">
  {% block header %}
  
  {% if user.email %}
  <div class="container relative">
    <header class="flex absolute p-3 md:px-10 bg-transparent w-full font-san font-bold h-20">
      <a href="/" class="self-center text-3xl  "><span class=" text-white">Event </span> <span
          class=" text-red-600">Hub</span></a>
      <div class="right text-white ml-auto flex gap-3 items-center">
        <span class="  ">{{user.email}}</span>
        <a href="{% url 'logout' %}" class="">logout</a>
        
        <img src="{{user.student.profile_pic.url}}" alt="dp" class="rounded-full h-12 w-12">
      </div>
          
    </header>
  {% else %}
  <div class="container relative">
    <header class="flex absolute p-3 md:px-10 bg-transparent w-full font-san font-bold h-20">
      <a href="/" class="self-center text-3xl  "><span class=" text-white">Event </span> <span
          class=" text-red-600">Hub</span></a>
      <a href="{% url 'login' %}" class="self-center text-md md:text-lg p-3  text-white hover:text-red-400 ml-auto">Login</a>
      <a href="{% url 'signup' %}" class="self-center p-3  text-md md:text-lg text-white hover:text-red-400 ">Signup</a>
    </header>
  {% endif %}  
    {% block content %}
    
    {% endblock %}
  </div>

  {% endblock %}


</body>

</html>