{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class=" w-screen">
   
    <div class=" flex flex-col w-full  pt-60 md:pt-72 content-start section1 md:px-72  px-5">
        
        <div class="self-center text-white title text-5xl  md:text-6xl">Welcome To EventHub</div>
        <div class="desc self-center  text-white text-sm px-10 py-14 md:text-lg">Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Aliquam 
            aspernatur sapiente
            recusandae. Modi a est commodi molestiae labore id voluptates, sapiente dolorem delectus adipisci, et totam
            laudantium odit, dicta fuga. lo</div>
            
    </div>
 
    <div class="flex flex-col category ">
        <h1 class="title text-3xl  md:text-5xl text-white py-10 px-10">Latest Events</h1>
        <div class="section2 px-10 flex  overflow-x-scroll space-x-3">
            {% for event in events %}
            
            <div class="card h-full flex flex flex-col py-10  rounded-t-md bg-transparent">
                
                <div class="flex flex-col card-details bg-white  p-5 h-full w-60 rounded-md">
                    <img src="{{event.brochure.url}}" class="h-56  rounded-md" alt="card-img">
                    <div class="card-title font-bold text-lg">{{event.e_name}}</div>
                    <div class="card-club">{{event.e_type}}</div>
                    <div class="card-type">{{event.reg_fee}}</div>
                    <a href="/new-event.html"
                        class="btn text-center text-slate-50 rounded-xl px-3 py-2 bg-red-600 mt-2">View
                        Details</a>
                </div>
            </div>
            {% endfor %}
            

        </div>
    </div>
</section>
{% endblock %}
