{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="absolute w-full flex flex-wrap top-56">
    <div class="container  flex flex-wrap flex-col h-1/6 px-10 md:px-60  justify-center">
        <div class="container-head bg-white text text-black font-sans font-bold rounded-t-lg px-7 flex ">
            <div class=" title font-sans font-bold text-red-600 md:text-5xl text-2xl py-5">{{event.e_name}}</div>
            <div class="common flex flex-col gap-1 self-center ml-auto">
                <div class="upload-time">{{event.date_of_creation}}</div>
                <div class="club text-red-600">{{event.club}}</div>
            </div>
        </div>
        <img src="{{event.brochure.url}}" alt="" class="">
        <div class="bg-white font-normal text-gray-600 h-90 content p-10 mb-10 rounded-b-lg">
            <div class="venue"><span class="text-black text-xl font-bold ">Venue </span>{{event.venue}}</div>
            <div class="start-date "><span class="text-black font-bold text-xl ">Start Date </span>{{event.e_date}}
            </div>
            <div class="p-limit "><span class="text-black font-bold text-xl">Participant Limit </span>{{event.p_limit}}
            </div>
            <div class="description font-normal">{{event.desc}}</div>
            <div class="text-bold text-3xl">Participants</div>
            <div class="flex flex-col bg-gray-300 w-full">
                <div class="text-bold">details:</div><br>
                <ol>
                    {% for a in event.attendees.all %}
                    --{{a.user.email}} --{{a.user}}
                    {% endfor %}
                </ol>
            </div>





            <!-- <div class="btn py-5">
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit"
                    class="btn text-center text-slate-50 rounded-lg font-bold  px-3 py-2 bg-red-600 ">
                    {% if enrolled %}    
                    Unenroll
                    {% else %}
                    Register
                    {% endif %}
                    </button>
                </form>
            </div> -->

        </div>
    </div>

</section>

{% endblock %}