{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="absolute w-full flex flex-wrap top-56">
    <div class="container mb-20  flex flex-wrap flex-col h-1/6 px-10 md:px-60  justify-center">

        <!-- form-content -->
        <div class="bg-white self-center font-normal text-gray-600 h-90 content p-10 rounded-lg">
            <div class=" title font-sans font-bold text-red-600 text-3xl py-5">Club Signup</div>
            <form class="w-full max-w-lg">
                <div class="flex flex-wrap -mx-3 ">
                    <div class="w-full md:w-full px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for="grid-name">
                            Name
                        </label>
                        <input
                            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                            id="grid-first-name" type="text" name='name' placeholder="Jane John">
                        <!-- <p class="text-red-500 text-xs italic">Please fill out this field.</p> -->
                    </div>
                </div>
                <div class="flex flex-wrap -mx-3 ">
                    <div class="w-full md:w-full px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for="grid-email">
                            Email
                        </label>
                        <input
                            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                            id="grid-email" type="email" name='email' placeholder="jain@gmail.com">
                    </div>
                </div>
                <div class=" md:flex -mx-3 mb-3">
                    <div class="w-full md:w-full px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for="grid-dept">
                            Department
                        </label>
                        <div class="relative">
                            <select
                                class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="grid-dept" name="dept">
                                <option>CSE</option>
                                <option>EEE</option>
                                <option>ECE</option>
                                <option>CE</option>
                            </select>
                            <div
                                class="pointer-events-none absolute inset-y-0 -right-0 md:right-1/2 flex items-center px-2 text-gray-700">
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20">
                                    <path
                                        d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="w-full md:w-full px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for="grid-yop">
                            Year Of Passout
                        </label>
                        <input
                            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            id="grid-yop" type="number" name="yop" value="2023" placeholder="2023">
                    </div>
                    <div class="w-full md:w-full px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for="grid-mobile">
                            mobile
                        </label>
                        <input
                            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            id="grid-mobile" name="mobile" type="number" value='999999999' placeholder="">
                    </div>
                </div>


                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for="grid-password">
                            Password
                        </label>
                        <input
                            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            id="grid-password" name="password" type="password" placeholder="******************">
                        <p class="text-gray-600 text-xs italic">Make it as long and as crazy as you'd like</p>
                    </div>
                </div>
                <div class="btn py-5">
                    <a href="#" type="submit"
                        class="btn text-center text-slate-50 rounded-lg font-bold  px-3 py-2 bg-red-600 ">Register</a>
                </div>
            </form>
        </div>
        <!-- end-form-content -->
    </div>
</section>
{% endblock %}