{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="absolute w-full flex flex-wrap top-56">
    <div class="container mb-20  flex flex-wrap flex-col h-1/6 px-10 md:px-60  justify-center">

        <!-- form-content -->
        <div class="bg-white self-center font-normal text-gray-600 h-90 content p-10 rounded-lg">
            <div class=" title font-sans font-bold text-red-600 text-3xl py-5">Club Signup</div>
            <form class="w-full max-w-lg" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <div class="flex flex-wrap -mx-3 ">
                    <div class="w-full md:w-full px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for="grid-name">
                            Club Name
                        </label>
                        <input
                            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                            id="grid-first-name" type="text" name='c_name' placeholder="Tinkerhub">
                        <!-- <p class="text-red-500 text-xs italic">Please fill out this field.</p> -->
                    </div>
                </div>
                <div class="flex flex-wrap -mx-3 ">
                    <div class="w-full md:w-full px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for="grid-email">
                            Email
                        </label>
                        <input
                            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                            id="grid-email" type="email" name='email' placeholder="jain@gmail.com">
                    </div>
                </div>
                <div class="flex flex-wrap -mx-3 ">
                    <div class="w-full md:w-full px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for="grid-pic">
                            Profile Picture
                        </label>
                        <input
                            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                            id="grid-pic" type="file" name='profile_image'>
                    </div>
                </div>
                <div class="flex flex-wrap -mx-3 ">
                    <div class="w-full md:w-full px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for="grid-password1">
                            Password
                        </label>
                        <input
                            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                            id="grid-password1" type="password" name='password1' placeholder="**** ****">
                    </div>
                </div>
                <div class="flex flex-wrap -mx-3 ">
                    <div class="w-full md:w-full px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for="grid-password2">
                            Confirm Password
                        </label>
                        <input
                            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                            id="grid-password2" type="password" name='password2' placeholder="**** ****">
                    </div>
                </div>

                {% for field in registration_form %}
                <p>
                    {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
                </p>
                {% endfor %}
                {% if signup_form.non_field_errors %}
                <div style="color: red">
                    <p>{{signup_form.non_field_errors}}</p>
                </div>

                {% endif %}

                <div class="btn py-5">
                    <a href="{% url 'signup' %}"  class="btn text-center text-slate-50 rounded-lg font-bold  px-3 py-2 bg-red-600 ">
                    Register
                    </a>
                </div>
            </form>
        </div>
        <!-- end-form-content -->
    </div>
</section>
{% endblock %}