{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="absolute w-full flex flex-wrap top-56">
    <div class="container mb-20  flex flex-wrap flex-col h-1/6 px-10 md:px-60  justify-center">

        <!-- form-content -->
        <div class="bg-gray-300 self-center font-normal text-gray-600 h-90 content p-10 rounded-lg">
            <div class=" title font-sans font-bold text-red-600 text-3xl py-5">Student Signup</div>
            
            <form method="post" action="{% url 'signup_user' %}">
                {% csrf_token %}
                {{ user_form.as_p }}
                <button type="submit">Create Account</button>
            </form>
        </div>
        <!-- end-form-content -->
    </div>
</section>
{% endblock %}